.bug-view {
  position: absolute;
  margin: 20px;
  z-index: 5;
  border: 1px solid rgba(9, 9, 121, 1);
  box-shadow: 0px 3px 5px 0px rgba(9, 9, 121, 0.5);
  border-radius: 10px;
  background-color: rgb(1, 109, 131);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bug-title {
  color: white;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid rgba(9, 9, 121, 1);
}

.info-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container {
  width: 100%;
  display: flex;
  padding: 10px 50px;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-complete {
  margin: 5px;
  padding: 5px;
  flex: 1;
  border-radius: 5px;
  background-color: rgb(195, 241, 109);
  height: 30px;
}

.button-close {
  margin: 5px;
  padding: 5px;
  flex: 1;
  border-radius: 5px;
  background-color: rgb(241, 188, 109);
  height: 30px;
}

.delete-button {
  margin: 5px;
  padding: 5px;
  flex: 1;
  border-radius: 5px;
  background-color: rgb(241, 188, 109);
  height: 30px;
}

.button-close:hover {
  background-color: rgb(179, 58, 58);
}

.delete-button:hover {
  background-color: rgb(179, 58, 58);
}

.edit-button {
  margin: 5px;
  padding: 5px;
  flex: 1;
  border-radius: 5px;
  background-color: rgb(195, 241, 109);
  height: 30px;
}
